<h1>プロフィール編集</h1>

<%= form_with model: @user do |f| %>
  <%= attachment_image_tag @user, :profile_image, size: "50x50", fallback: "no_image.jpg" %>
  <p><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></p>
  <p>名前: <%= f.text_field :name %> <%=f.submit "変更を保存" %></p>
<% end %>