<div class="container">
  <h1>ユーザー検索</h1>
  <%= form_with url: search_users_path, method: :get, local: true do |f| %>
    <%= f.text_field :name %>
    <%= f.submit :search %>
  <% end %>

  <table>
    <thead>
  	  <tr>
        <th></th>
  	    <th>Name</th>
  	  </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, size: "50x50", fallback: "no_image.jpg" %></td>
          <td><%= link_to user.name, user_path(user.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>